@font-face {
  font-family: "Segoe UI";
  src: url(/assets/fonts/SEGOEUI.TTF);
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins.ttf);
}
:root {
  --font-regular2: "Poppins";
  --font-regular: "Segoe UI";
}

body {
  font-family: "Segoe UI", "Poppins", sans-serif;
}
